// variables
:root{
  --blue: #4855A0;
}

// reset - Removes default behavior
body,p,a,ul,li{
  // font-size: 12px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.App {
  overflow-y:scroll;
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

body {
    background-color: rgba(234, 235, 239, 1);

    .title {
      text-align: center;
      padding: 12px 12px;
    }

  }



// NAV //

nav {
  background: var(--blue);
  display: flex;
  justify-content: space-between;

  h2 {
    color: #fff;
    padding-left: 10px;
  }

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    padding: 10px 10px;
    color: #fff;
  }

  li:hover {
    background: #fff;
    color: var(--blue);
  }

}

// PRODUCT LIST //
.product-container {
  margin-bottom: 10px;
}

.row {
  justify-content: center;

  .product {
    max-height: 303px;
    max-width: 285px ;
    padding: 0;
    margin: 10px 0;
  }

  .product-card {
    background: white;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 9px;
    margin: 9px;
    overflow: hidden;
    align-items: center;

    &:hover {
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
  }

  .product-name {
  text-align: center;

    p {
      min-height: 32px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 16px;
      max-height: 32px;
      -webkit-line-clamp: 2; /* Write the number of lines you want to be displayed */
      -webkit-box-orient: vertical;
    }
  }

  .product-image {
    padding: 10px 0;
  }

  .wrapper {
    position: relative;
    padding-top: 80%;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
    }
  }

  .price-and-add-button {
    min-height: 32px;
    /*padding: 0 10px 10px;*/
    display: flex;
    justify-content: space-between;

    p {
      font-size: 1.2em;
      color:red;
      font-weight: bold;
    }

    button {
      font-size: 0.8em;
    }
  }
}




// BANNER //

.banner {
  // width: 100vw;
  height: 40vh;
  background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

// FOOTER //

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #23323d;
  display: flex;
  justify-content: space-between;
  color: #fff;

  h4 {
    padding-top: 6px;
  }

  ul li {
    list-style: none;
    display: inline;
    margin-right: 10px;
    font-size: 30px;
  }

  a {
    color: #fff;
  }
}

// BASKET //

.basket {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  .product-img, .name {
    padding-left: 9px;
  }

  .price {
    padding-right: 9px;
    font-weight: bold;
  }

  .remove-link {
    text-decoration: underline;
    text-align: center;
    padding-left: 9px;
  }

  .remove-link:hover {
    color: red;
    cursor: pointer;
  }
}

.container {
  .checkout {
    text-align: center;
    position: relative;
    float: right;
    margin: 10px 0;
  }
}

.clear-basket-and-total-price {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;

  p {
    font-weight: bold;
  }
}


@media (max-width: 576px) {
  body {
    font-size: 12px;
  }

  .product-img {
    max-width: 70px;
  }
}

@media (min-width: 577px) {
  body {
    font-size: 14px;
  }

  .product-img {
    max-width: 190px;
  }
}

@media (min-width: 768px) {
  body{font-size: 14px;}
  .product-img {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  body{font-size: 16px;}
}

@media (min-width: 1200px) {
  body{font-size: 16px;}
}

// CONTACT //

.contact-container {
  min-height: 50.6vh;
}

form{
  .container {
    // background: rgba(72, 85, 160, 0.2);
    // padding: 30px auto;
    padding-top: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 1px solid var(--blue);
    border-radius: 5px;

    h1 {
      background: var(--blue);
      padding: 10px;
      border-radius: 5px 5px 0 0;
    }

    .btn {
      margin-bottom: 18px;
    }
  }
}

@media (max-width: 576px) {
  form {
    margin: 0 15px;
  }
}

